SOFASCORE_BROWSER_CDP_URL=http://127.0.0.1:9222
SOFASCORE_BROWSER_HEADLESS=true
SOFASCORE_DIRECT_FALLBACK=false
SOFASCORE_BROWSER_FETCH_TIMEOUT_MS=20000
SOFASCORE_GLOBAL_MIN_INTERVAL_MS=750
SOFASCORE_GLOBAL_COOLDOWN_MS=900000
SOFASCORE_MODEL_MIN_INTERVAL_MS=5000
SOFASCORE_MODEL_COOLDOWN_MS=86400000
